name: Car_sub

on:
  schedule:
    - cron: '15 22,5 * * *'
  watch:
    types: [started]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        
      - name: 'Set up Python'
        uses: actions/setup-python@v1
        with:
          python-version: 3.7
         
      - name: 'Install requirements'
        run: pip install -r ./Qrd/requirements.txt 
        
      - name: '公众号iosrule' 
        run: python3 ./Car/Car_sub.py
        env:
            car_suburl: ${{ secrets.car_suburl }}
            car_subhd: ${{ secrets.car_subhd }}
            car_subbt: ${{ secrets.car_subbt }}
