name: WoWo_notice

on:
  schedule:
    - cron: '*/30 * * * * '
  watch:
    types: [started]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        
      - name: 'Set up Python'
        uses: actions/setup-python@v1
        with:
          python-version: 3.7
         
      - name: 'Install requirements'
        run: pip install -r ./Wowonaitang/requirements.txt 
        
      - name: '公众号iosrule' 
        run: python3 ./Wowonaitang/Wowo_notice.py
        env:
            DJJ_BARK_COOKIE: ${{ secrets.DJJ_BARK_COOKIE }}
            DJJ_SEVER_JIANG: ${{ secrets.DJJ_SEVER_JIANG }}
            DJJ_TELE_COOKIE: ${{ secrets.DJJ_TELE_COOKIE }}
            wowo_naitang_url0: ${{ secrets.wowo_naitang_url0 }}
            wowo_naitang_ck0: ${{ secrets.wowo_naitang_ck0 }}
            wowo_naitang_hd: ${{ secrets.wowo_naitang_hd }}
            wowo_naitang_url1: ${{ secrets.wowo_naitang_url1 }}
            wowo_naitang_ck1: ${{ secrets.wowo_naitang_ck1 }}
            wowo_naitang_url2: ${{ secrets.wowo_naitang_url2 }}
            wowo_naitang_ck2: ${{ secrets.wowo_naitang_ck2 }}
            wowo_naitang_url3: ${{ secrets.wowo_naitang_url3 }}
            wowo_naitang_ck3: ${{ secrets.wowo_naitang_ck3 }}
