name: 白菜20210101

on:
  schedule:
    - cron: '*/30 * * * *'
  watch:
    types: [started]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        
      - name: 'Set up Python'
        uses: actions/setup-python@v1
        with:
          python-version: 3.7
         
      - name: 'Install requirements'
        run: pip install -r ./白菜/白菜.txt 
        
      - name: '公众号iosrule' 
        run: python3 ./白菜/BaiCai1.py 
        env:
            DJJ_BARK_COOKIE: ${{ secrets.DJJ_BARK_COOKIE }}
            DJJ_SEVER_JIANG: ${{ secrets.DJJ_SEVER_JIANG }}
            DJJ_TELE_COOKIE: ${{ secrets.DJJ_TELE_COOKIE }}
            bd_url: ${{ secrets.bd_url }}
            bd_bd: ${{ secrets.bd_bd }}
            bd_hd: ${{ secrets.bd_hd }}
            bd_ck1: ${{ secrets.bd_ck1 }}
            bd_task: ${{ secrets.bd_task }}

